    <!-- checkbox with tag name -->
    <div class="form-check product-tags">
        <input type="checkbox" class="form-check-input checkbox">
        <label class="form-check-label tag-name" for="{{tag_name}}">{{{tag_name}}}</label>
    </div>        
{{!-- for future development: allow user to input additional tags and save to db --}}
{{!-- any added tags would be dynamically created and rendered to the form --}}
