<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buy Sell Exchange Craft Supplies</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="/css/style.css">
  {{!-- <link rel="stylesheet" href="/css/styles.css"> --}}
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Craft But Not Least
    </h1>
    <!-- Only display the logout button if the user is logged in -->
    {{!-- updating title, header and nav - WINSTON --}}
    <nav>
      <a href="/">Home</a>
      <a href="/">Buy</a>
      <a href="/new-listing">Sell</a>
    {{!-- {{#if logged_in}}
    <button class="btn" id="logout">Logout</button>
    {{else}}
    <button class="btn" id="login">Login</button>
    {{/if}} --}}
    <a href="/login">Login</a>
    {{!-- {{/if}} --}}
    <button class="btn" id="logout">Logout</button>
    </nav>
    
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{!-- {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}
  {{!-- **rb** not sure why  if logged_in isn't working but commenting out for now --}}
    <script src="/js/logout.js"></script>

</body>

</html>
