{{!-- ❄️mx: todo: check the class for css style --}}
<section>
    <div id="view-all-products">
        {{#each products as |product|}}
        {{> product-cards}}
        {{/each}}
    </div>
</section>
{{!-- ❄️mx --}}