{{!-- ❄️mx: todo: check the class for css style --}}
<section class="product-card">
    <div id="view-all-products">
        {{#each products as |product|}}
        {{> product-cards}}
        {{/each}}
    </div>
</section>
{{!-- ❄️mx --}}