<hero>
  <img src="/images/loginBackground.png" alt="yarns and threads"/>
</hero>

<section>

    <div id="view-all-products">
        {{#each products as |product|}}
        {{> product-cards}}
        {{/each}}

	</div>

</section>