<img src="/images/pencils.jpg" alt="Color pencils"/>

{{!-- <section class="categories">
  {{#each categories as |category|}}
  
  {{/each}}
</section> --}}

<section class="categories">
  <section class="card">
    <a href="/category/{{id}}">
      <img src="/images/paints.jpg" alt="paints">
    </a>
  </section>

  <section class="card">
    <a href="/category/{{id}}">
      <img src="/images/beads.jpg" alt="beads">
    </a>
  </section>

  <section class="card">
    <a href="/category/{{id}}">
      <img src="/images/fabrics.jpg" alt="fabrics">
    </a>
  </section>

  <section class="card">
    <a href="/category/{{id}}">
      <img src="/images/papers.jpg" alt="papers">
    </a>
  </section>
</section>

