<hero>
  <img src="/images/pencils.jpg" alt="Color pencils"/>
</hero>

{{!-- <section class="categories">
  {{#each categories as |category|}}
  
  {{/each}}
</section> --}}
<h2 style="margin-right:auto; margin-left:auto;">Featured Categories</h2>

{{!-- ❄️MX: added below --}}


<section class="categories">
  <section class="card">
    {{!-- ❄️MX: changed href from tags/6 to /api/buy/tags/6 --}}
    <a href="#"> 
      <img src="/images/pottery.jpg" alt="pottery">
    </a>
    <footer>Pottery</footer>
  </section>

  <section class="card">
    {{!-- ❄️MX: changed href from tags/3 to /api/buy/tags/3 --}}
    <a href="#">
      <img src="/images/beads.jpg" alt="beads">
    </a>
    <footer>Beading</footer>
  </section>

  <section class="card">
    {{!-- ❄️MX: changed href from tags/10 to /api/buy/tags/10 --}}
    <a href="#">
      <img src="/images/fabrics.jpg" alt="fabrics">
    </a>
    <footer>Fabrics</footer>
  </section>

  <section class="card">
    {{!-- ❄️MX: changed href from tags/8 to /api/buy/tags/8 --}}
    <a href="#">
      <img src="/images/papers.jpg" alt="papers">
    </a>
    <footer>Paper Crafts</footer>
  </section>
</section>
<div class="view-all">
<a href="/api/buy/product"><button class="login-btn">View all items</button></a></div>
