<h2>List Item</h2>

<form class="form submit-form">
  <div class="form-group">
    <label for="item-name">Item name:</label>
    <input class="form-input" type="text" id="item-name" />
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input class="form-input" type="text" id="description"/>
  </div>
  <div class="form-group">
    <label for="list-price">Price:</label>
    <input class="form-input" type="number" step="0.01" id="list-price"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">submit</button>
  </div>
</form>

<script src="/js/listItem.js"></script>