<!-- style sheet-->
{{!-- <link rel="stylesheet" href="/css/styles.css"> --}}
{{!-- <script src="https://kit.fontawesome.com/7bcd3cd1a7.js" crossorigin="anonymous"></script> --}}

<hero>
  <img src="/images/loginBackground.png" alt="yarns and threads"/>
</hero>
<!-- sign in card -->
<div class="login-container">
  <div class="login">
    
      <div class="login-card" >
        <h2>Login</h2>
        <form class="form login-form">
          <!-- Email input -->
          <div class="form-group input-field">
            <i class="fa-solid fa-envelope"></i>
            <label for="email-login">Email:</label>
            <input class="form-input" type="text" type="email" id="email-login" />
          </div>
          <!-- Password input -->
          <div class="form-group input-field">
            <i class="fa-solid fa-lock"></i>
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <!-- Login Btn -->
          <div class="form-group btn-field">
            <button class="login-btn" id="signinBtn" type="submit"
            {{!-- ⛔️ **rb** I'm removing this onclick, can update form handler redirect if we want it to go to profile page after login **rb** --}}
              {{!-- onclick="window.location.href = 'profile-page.handlebars'" --}}
              >Login</button>
          </div>
          <p><a href="/signup">Don't have an account? Sign up here!</a></p>
        </form>
      </div>
    
  </div>
</div>
  <script src="/js/login.js"></script>