<h2>Add an item</h2>
<!-- item name input -->
<form class="form submit-form" id="sell-item-form">
    <div class="form-group">
        <label for="item-name">Item name:</label>
        <input class="form-input" type="text" id="item-name" />
    </div>
    <!-- item description input -->
    <div class="form-group">
        <label for="description">Description:</label>
        <input class="form-input" type="text" id="description" />
    </div>
    <!-- item price input, decimal -->
    <div class="form-group">
        <label for="list-price">Price:</label>
        <input class="form-input" type="number" step="0.01" id="list-price" />
    </div>

    <!-- photo upload: disabled for now, can remove "disabled" state when we're ready -->
    <div class="form-group">
        <label for="photo-upload">Upload a photo</label>
        <input type="file" class="form-control-file" id="photo-upload" disabled>
    </div>

    <!-- tag checkboxes -->
    <div class="form-group product-tags">
        <label for="tags">Tags:</label>
        <!-- add checkboxes with tags from partial -->
        <div class="form-check tag-select">
            <!-- add checkboxes with tags from partial -->
            {{#each tags as |tag|}}
            {{> item-tags}}
            {{/each}}

        </div>
    </div>

    <!-- submit button -->
    <div class="form-group">
        <button class="btn btn-primary" type="submit">submit</button>
    </div>
</form>

<script src="./js/sell.js"></script>