<hero>
  <img src="/images/loginBackground.png" alt="yarns and threads"/>
</hero>


  

<!-- **rb** removed disabled from input to see if I can get it to work **rb** -->
<div class="login-container">
  <div class="login">
    
      <div class="login-card" >
    <h2>Add an item</h2>
<section class="sell-upload">
    <form action="/api/sell/upload" enctype="multipart/form-data" method="post" >
    <div class="form-group">
        <label for="image-upload">Upload an image for your listing:</label>
        <input type="file" class="form-control-file" name="image_file">
        <input type="submit" value="upload image" class="btn btn-default">
    </div>
    </form>
</section>

<section>
    <form class="form submit-form" id="sell-item-form">
<!-- item name input -->

    <div class="form-group">
        <label for="item-name">Item name:</label>
        <input class="form-input" type="text" id="item-name" />
    </div>
    <!-- item description input -->
    <div class="form-group">
        <label for="description">Description:</label>
        <input class="form-input" type="text" id="description" />
    </div>

    <!-- item price input, decimal -->
    <div class="form-group">
        <label for="list-price">Price:</label>
        <input class="form-input" type="number" step="0.01" id="list-price" />
    </div>
    <!-- tag checkboxes -->
    <div class="form-group product-tags">
        <label for="tags">Tags:</label>
        <!-- add checkboxes with tags from partial -->
        <div class="form-check tag-select" id="sell-checklist">
            <!-- add checkboxes with tags from partial -->
            {{#each tags as |tag|}}
            {{> item-tags}}
            {{/each}}

        </div>
    </div>

    <!-- submit button -->
    <div class="form-group">
        <button class="btn btn-primary" type="submit">submit</button>
    </div>
    </form>
</section>
</div>
</div>
</div>

    


<script src="./js/sell.js"></script>