<hero>
  <img src="/images/loginBackground.png" alt="yarns and threads"/>
</hero>

{{!-- <div class="container"> --}}
    <!-- Sign Up card -->

<div class="login-container">
  <div class="login">
    
      <div class="login-card" >
        <h2>Signup</h2>
        <form class="form signup-form">
          <!-- Username input -->
          <div class="form-group input-field">
            <i class="fa-solid fa-envelope"></i>
            <label for="username-signup" class="input-field">Username:</label>
                <input class="form-input" type="text" id="username-signup" />
          </div>
          <!-- Email input -->
            <div class="form-group input-field">
                <label for="email-signup" class="input-field">Email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
          <!-- Password input -->
            <div class="form-group">
                <label for="password-signup" class="input-field">Password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
          <!-- Sign Up Btn -->
            <div class="form-group">
                <button class="btn btn-primary btn-field button" id="signupBtn" type="submit">signup</button>
            </div>
            <p><a href="/login">Already have an account? Login here</a></p>
          </div>
          
        </form>
      </div>
    
  </div>
{{!-- </div> --}}

<script src="/js/signup.js"></script>
