<section class="product-card">
  <img src="/images/potteryWheel.jpg" alt="pottery wheel">
    <h3>Small Pottery Wheel</h3>
    <p>It was a gift but I don't have room to keep it. Works great, pretty much brand new!</p>
    <p>Price: $79.99</p>
    <p>Contact: <a href="mailto:jordan99@msn.com">jordan99@msn.com</a></p>
  </section>

<section class="product-card">
  <img src="/images/beadSoup.png" alt="bucket of beads">
    <h3>Bead Soup</h3>
    <p>1/2 pound (8 ounces) of mixed beads. All sizes. Mixed materials.</p>
    <p>Price: $3.50</p>
    <p>Contact: <a href="mailto:the_blake@yahoo.com">the_blake@yahoo.com</a></p>
  </section>

<section class="product-card">
  <img src="/images/sequin.jpg" alt="gold sequin fabric">
    <h3>Sequin Fabric</h3>
    <p>There's about 3 yards of this sparkly sequin fabric! Perfect for costumes.</p>
    <p>Price: $15.00</p>
    <p>Contact: <a href="mailto:amiko2k20@aol.com">amiko2k20@aol.com</a></p>
  </section>

<section class="product-card">
  <img src="/images/origamiPaper.jpg" alt="origami paper">
    <h3>Origami Paper</h3>
    <p>Origami paper in a bunch of different sizes and colors. Not sure how many sheets are left but it looks like there's a lot</p>
    <p>Price: $4.25</p>
    <p>Contact: <a href="mailto:lernantino@gmail.com">lernantino@gmail.com</a></p>
  </section>