<form action="/stats" enctype="multipart/form-data" method="post">
  <div class="form-group">
    <input type="file" class="form-control-file" name="uploaded_file">
    <input type="text" class="form-control" placeholder="Upload Image" name="upload-image">
    <input type="submit" value="Add image to listing" class="btn btn-default">            
  </div>
</form>