{{!-- I just copied this over from one of the class assignments, feel free to modify as needed --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Craft Exchange</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Craft Exchange
    </h1>
    <!-- Only display the logout button if the user is logged in -->
    {{#if logged_in}}
    <nav>
        {{!-- add other nav items here --}}
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{!-- where main content of each page will render --}}
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>